<ion-header #head>
  <ion-navbar color="fourtwenty">
    <button  ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title text-center>Home</ion-title>
  </ion-navbar>
</ion-header>


<ion-content >
    <ion-card >
        <ion-slides >
          <ion-slide >   
            <img src="assets/imgs/420-logo.jpg">
          </ion-slide>    
        </ion-slides>
      </ion-card>



 <ion-list style="margin-bottom:0;">
    <ion-item-divider text-center color="fourtwenty">Categories</ion-item-divider>
  </ion-list>

   

    <ion-row >
      <ion-slides slidesPerView=2 #productSlides>
        <ng-container *ngFor="let product of categories; let i = index">
          <ion-slide>
            <ion-row>
              <ion-col>
                <ion-card no-padding (click)="openProductPage(product)">
                  <ion-chip item-right style="position: absolute; top: 5px; right:5px; font-size: 10px" *ngIf="product.on_sale && product.sale_price">
                    <ion-label color="danger" style="margin-right: 5px;">hfhf</ion-label>
                    <ion-icon name="pricetag" color="danger"></ion-icon>
                  </ion-chip>
                  <img  [src]="base_url+product.imageUrl" />
                  <p style="text-align: center; margin: 5px; font-weight:bold;color:#007956"> {{ product.category_name }} </p>     
                  <ion-row>
                    <ion-col col-auto>        
                    </ion-col>   
                  </ion-row>
                </ion-card>
              </ion-col>
            </ion-row>
          </ion-slide>
        </ng-container>
      </ion-slides>
    </ion-row>

 
 <ion-list style="margin-bottom:0;">
    <ion-item-divider text-center color="fourtwenty">420 News</ion-item-divider>
  </ion-list>

  <ion-grid >
    <ion-row>
      <ion-col col-6 *ngFor="let product of newsltter" text-wrap>
        <ion-card no-padding (click)="openNewsletterPage(product)">
          <ion-chip item-right style="position: absolute; top: 5px; right:5px; font-size: 10px" >
          </ion-chip>
          <img [src]="base_url+product.imageUrl" />
          <p style="text-align: center; margin: 5px; font-weight:bold;color:#007956">{{product.title}}</p>
          <ion-row>
            <ion-col >
            </ion-col>
          </ion-row>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>




</ion-content>
